# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @celo-org/blockchain

/consensus/ @trianglesphere @celo-org/blockchain
/crypto/ @kobigurk
/ethstats/ @gastonponti @celo-org/blockchain
/les/ @hbandura @nategraf @celo-org/blockchain
/light/ @hbandura @nategraf @celo-org/blockchain
/metrics/ @gastonponti @celo-org/blockchain
/p2p/ @oneeman @celo-org/blockchain
