# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @asaj @timmoreton

/cmd/ @kevjue
/consensus/ @kevjue @mcortesi
/contract_comm/ @kevjue
/core/ @kevjue
/crypto/ @kobigurk
/eth/ @kevjue
/ethstats/ @diminator
/les/ @kevjue
/light/ @kevjue
/miner/ @kevjue
