# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @mcortesi @oneeman

/accounts/ @kobigurk @gastonponti @hbandura
/consensus/ @kevjue @mcortesi @trianglesphere @nategraf
/crypto/ @kobigurk
/eth/ @mcortesi @oneeman @trianglesphere
/ethstats/ @gastonponti
/les/ @hbandura @nategraf
/light/ @hbandura @nategraf
/metrics/ @gastonponti
/p2p/ @oneeman
