**/*_test.go
.git
/build/_workspace
/build/bin
tests/testdata

/crypto/bls/bls-zexe/bls/target
/crypto/bls/bls-zexe/target

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
