version: 2

defaults: &defaults
  docker:
    - image: circleci/golang:1.12
  working_directory: /go/src/github.com/celo-org/geth

jobs:
  unit-test:
    <<: *defaults
    steps:
      - checkout
      - run: build/env.sh go run build/ci.go lint
      - run: build/env.sh go run build/ci.go test

  coverage:
    <<: *defaults
    steps:
      - checkout
      - run: build/env.sh go run build/ci.go test -coverage
      - run: bash <(curl -s https://codecov.io/bash)

  lint:
    <<: *defaults
    steps:
      - checkout
      - run: build/env.sh go run build/ci.go lint

workflows:
  version: 2
  build:
    jobs:
      - lint
      - unit-test
      - coverage
