version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/celo-org/geth
    steps:
      - checkout
      - run: build/env.sh go run build/ci.go lint
      - run: build/env.sh go run build/ci.go test

