name: Add Tags to Blockchain Images

on:
  workflow_dispatch:
    inputs:
      origin-tag:
        description: 'Original tag'
        required: true
        type: string
      destination-tag:
        description: 'Tag to add'
        required: true
        type: choice
        options:
          - alfajores
          - mainnet
  workflow_call:
    inputs:
      origin-tag:
        description: 'Original tag'
        required: true
        type: string
      destination-tag:
        description: 'Tag to add'
        required: true
        default: 'baklava'
        type: string

jobs:
  Add-Tag:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - id: 'auth-gcp-master'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/1094498259535/locations/global/workloadIdentityPools/gh-celo-blockchain-add-tag/providers/github-by-repos'
          service_account: 'celo-blockchain@devopsre.iam.gserviceaccount.com'
          access_token_lifetime: '20m'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - id: add-tag
        run: |
          gcloud container images add-tag us-west1-docker.pkg.dev/devopsre/celo-blockchain-public/test-wid-tag:${{ inputs.origin-tag }} us-west1-docker.pkg.dev/devopsre/celo-blockchain-public/test-wid-tag:${{ inputs.destination-tag }}
          gcloud container images add-tag us-west1-docker.pkg.dev/devopsre/celo-blockchain-public/test-wid-tag-all:${{ inputs.origin-tag }} us-west1-docker.pkg.dev/devopsre/celo-blockchain-public/test-wid-tag-all:${{ inputs.destination-tag }}
